@Scripts.Render("~/bundles/visitante")

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Prueba de desarrollo Sigma</h2>
    </div>
</div>
<br />
<div class="row">
</div>
<br />
<div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
        <div class="col-md-6 text-center">
        </div>
        <div class="col-md-6 form-container">
            <form onsubmit="return false">
                <div class="col-md-12 mb-3 text-left form-group">
                    <div class="col-md-12">
                        <label class="label-form" for="departamento">Departamento</label>
                        <select class="form-control" id="departamento" name="departamento"></select>
                    </div>
                </div>
                <div class="col-md-12 mb-3 text-left form-group">
                    <div class="col-md-12">
                        <label class="label-form" for="ciudad">Ciudad</label>
                        <select class="form-control" id="ciudad" name="ciudad">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>